h1 {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: 38px;
  position: absolute;
  top: 1%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#given-params {
  position: fixed;
  top: 13%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.input-cell {
    width: 100px;
    height: 30px;
}
#startMCMC{
  position: fixed;
  top: 18%;
  left: 35%;
}
#stopMCMC{
    position: fixed;
    top: 18%;
    left: 48%;
}
#clearMCMC{
    position: fixed;
    top: 18%;
    left: 61%;
}
#mcmc_plots_div{
    position: fixed;
    left: 49.2%;
    top: 65%;
    transform: translate(-50%, -50%);
    /* width: 150px; // Any width will be fine
    height: 150px: // Any height will be fine */
      /* position: relative;
      top: 180px; 
      left: 25%;
      transform: translate(-50%, -50%); */
  }
@media only screen and (max-width: 500px) {
  #mcmc_plots_div{
      position: fixed;
      top: 100px;
      left: 25%;
  }
}


